* {
  box-sizing: border-box;
}
.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 70px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
body {
  margin: 0;
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color:antiquewhite;
}
/**********************************　
以下、ヘッダーの設定　
************************************/
header {
  height: 60px;
  width: 100%;
  padding: 0px 15px;
  background-color: rgba(115, 210, 230, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
}

.logo {
  font-size: 25px;
}

nav {
  margin: 0 0 0 auto;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  line-height: 60px;
  padding: 0 20px;
}

.sm {
  display: none;
}

/**********************************　
以下、内容の設定
************************************/
.content{
  padding-top: 60px;
  text-align: center;
}
/* 画像を右下に固定したいとする */
.html_css_image{
  position: fixed; /* ウィンドウを基準に画面に固定 */
  bottom: 60px;
  right: 30px;
}

/* formのデザイン */
.frmSmpl2 {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width:50%;
  background-color:#fff;
	color: #666;
	padding:.7em;
	margin: 0 auto;
	border: 3px solid rgba(115, 210, 230, 0.9);
	border-radius: 15px;
	}
.frmSmpl2 p { /*p要素に背景や角丸を指定*/
	margin:5px 0 0;
	padding:10px;
	background-color: rgba(115, 210, 230, 0.9);;
	border-radius:8px;
	font-size:15px;
	}
.frmSmpl2 p:first-child { /*最初のpはマージン無し*/
	margin:0;
	}
  .frmSmpl2 h1{
    font-size: 20px;
    color: #364e96;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
  }
  .frmSmpl2 p:last-child { 
    background-color:rgba(0,0,0,0);
  }
.frmSmpl2 span { /*span要素（質問テキスト）をブロック化し横に並べる*/
	width:48%;
	margin:0;
	display:inline-block;
	vertical-align:top;
	}
/*テキスト入力部品のスタイルを統一*/
.frmSmpl2 .txtfiled{
	width:45%;
	padding:5px;
	margin:0;
	color:#666;
	border:solid 1px #ccc;
	background: #fff;
	box-shadow: 1px 1px 1px #fff;
	border-radius:7px;
	}

/*計算するボタンのスタイル*/
.frmSmpl2 input[type="submit"]{
	cursor:pointer;
	font-size:130%;
	font-weight:bold;
	width:100px;
	padding:4px 10px;
	margin-right:.5em;
	color:#fff;
    border:1px solid #bbb;
    background: #c08b9b;
	border-radius: 5px;
	box-shadow: -1px -1px 1px #fff;
	}

/*計算するボタンマウスオーバー時*/
.frmSmpl2 input[type="submit"]:hover {
	background: #985267;
	}

/*Clickボタン*/
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  margin: 10px auto 0;
}

a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

a.btn--circle {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
}
.resizeimage img {
  width: 60%;
}
/*面積結果部分*/
.box17{
  margin:40px auto;
  position: relative;
  padding: 0.5em 1.0em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  background-color:#fff;
  width:40%;
}
.box17:before, .box17:after{
  content: '';
  position: absolute;
  top: -10px;
  width: 2px;
  height: -webkit-calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: black;
}
.box17:before {left: 5px;}
.box17:after {right: 5px;}
.box17 p {
  margin: 0; 
  padding: 10px;
  color: #000;
  font-size:20px;
}
.result{
  font-weight: bold;
  color: rgb(245, 2, 2);
  font-size:30px;
}

/**********************************　
以下、フッターの設定
************************************/
footer {
  width: 100%; /* 幅いっぱいを指定 */
  height: 50px; /* 高さを50pxに指定 */
  background: rgba(115, 210, 230, 0.9); /* 背景色にグレーを指定 */
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  text-align: center;
}
.footer_logo{
  margin:15px auto;
}

/**********************************　
以下、レスポンシブの設定
************************************/

@media (max-width: 900px) {

  .pc {
    display: none;
  }

  #hamburger {
    background-color: transparent;
    position: relative;
    cursor: pointer;
    margin: 0 0 0 auto;
    height: 60px;
    width: 60px;
  }

  .icon span {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 8px;
    transition: ease 0.75s;
  }

  .icon span:nth-of-type(1) {
    top: 16px;
  }
  .icon span:nth-of-type(2) {
    top: 28px;
  }
  .icon span:nth-of-type(3) {
    bottom: 16px;
  }

  .close span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 28px;
  }

  .close span:nth-of-type(2) {
    opacity: 0;
  }

  .close span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 28px;
  }

  .sm {
      top: 60px;
      left: 0px;
      position: absolute;
      z-index: 10;
      width: 100%;
      background-color: rgba(34, 49, 52, 0.9);
  }

  ul {
    flex-direction: column;
  }

  a {
    text-align: center; 
    border-top: solid 0.5px rgba(255, 255, 255, 0.6);
  }
  .html_css_image{
    /* 非表示 */
    display:none; 
  }
  .frmSmpl2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    color: #666;
    padding:.7em;
    margin: 0 auto;
    border: 3px solid rgba(115, 210, 230, 0.9);
    border-radius: 15px;
    }
  .frmSmpl2 span { /*span要素（質問テキスト）をブロック化し横に並べる*/
    width:60%;
    margin:0;
    display:inline-block;
    vertical-align:top;
    }
    .box17 p {
      margin: 0; 
      padding: 10px;
      color: #000;
      font-size:15px;
    }
    .result{
      font-weight: bold;
      color: rgb(245, 2, 2);
      font-size:20px;
    }
}



